--- drivers/staging/Kconfig
+++ drivers/staging/Kconfig
@@ -127,6 +127,8 @@
 
 source "drivers/staging/zram/Kconfig"
 
+source "drivers/staging/zcache/Kconfig"
+
 source "drivers/staging/wlags49_h2/Kconfig"
 
 source "drivers/staging/wlags49_h25/Kconfig"
